@page
@model SalaDeAula.Pages.Alunos.SucessoModel
@{
}
<div class="alert alert-primary" role="alert">
    Registro Criado com Sucesso!!!
</div>
<br />
<div>
    <a asp-page="/Alunos/Index" class="btn btn-primary">Voltar</a>
</div>