
@foreach (Monstro monstro in ViewBag.listaMonstros)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@monstro.Name</h5>
            <p class="card-text">ID: @monstro.Id</p>
            <p class="card-text">@monstro.Descricao</p>
        </div>
    </div>
    <hr />
}
