@model Instrumento

<h2>Editar Instrumento</h2>
<div class="row">
    <form class="col-md-4" asp-action="Update">
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <label class="control-label" asp-for="Type"></label>
            <input class="form-control" asp-for="Type" />
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="Brand"></label>
            <input class="form-control" asp-for="Brand" />
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="Model"></label>
            <input class="form-control" asp-for="Model" />
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="Description"></label>
            <input class="form-control" asp-for="Description" />
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="Price"></label>
            <input class="form-control" asp-for="Price" />
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="Link"></label>
            <input class="form-control" asp-for="Link" />
        </div>

        <input type="submit" value="Editar!" class="btn btn-primary" />
        <a class="btn btn-primary" asp-controller="Instrumentos" asp-action="Index">Voltar</a>
    </form>
</div>